.wrapper {
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;

  margin: 2rem auto;
  max-width: 70rem;
  padding: 0 1rem;
}

@media (max-width: 786px) {
  html {
    /**  
    * :pencil: NOTE: Font size with dynamic proportion(rule of three) 
    * 16 -> 100%
    * 14 -> x
    *
    * 14 * 100 / 16 = 87.5%
    **/
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}